/* Standards
-------------------------------------------------------------*/

$primaryfont: 'Titillium Web', sans-serif;
$primarycolor: #d81c25;
$secondarycolor: #000;


/* Base
-------------------------------------------------------------*/

body {
	font-family: $primaryfont;
	color: $secondarycolor;
	text-align: center;
	margin: 0;
}

header {
  color: $primarycolor;
  background-color: $secondarycolor;
  padding: 10px;

	p {
		font-size: 30px;
		margin-top: 20px;
	}

  input[type="text"] {
    font-size: 18px;
    color: black;
  }
}

footer {
  margin: 20px 0 0 0;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 12px;
}


/* Main
-------------------------------------------------------------*/

#logo {
	width: 15%;
}

#searchBar {
	margin-top: 20px;
}

.utilities {
	list-style-type: none;
	margin-top: 20px;
	li {
		display: inline;
		a {
			font-size: 12px;
			color: #fff;
			&:hover {
				color: #0FA0CE;
			}
		}
	}
}

.product-img {
	max-width: 50%;
}

section {
	padding-top: 2%;
	padding-bottom: 2%;
}

.information {
	text-align: left;
}

.segment {
	border: 1px solid $primarycolor;
	border-radius: 10px;
	padding: 20px;
}

.options {
	.row {
		padding-bottom: 5px;
		padding-top: 5px;
		&:not(:last-child) {
			border-bottom: 1px solid #000;
		}
	}
}

.option {
  color: #000;
  border-color: $primarycolor;
  font-size: 10px;
  background: transparent;
	&:hover {
  	background-color:  #1EAEDB;
	}
}

.quantity {
	input {
		display: inline;
		&.plusMinus {
			width: 40px;
		}
		&[type="text"] {
			width: 50px;
		}
	}
}

h3.totalPrice {
	margin-bottom: 0px;
	color: $primarycolor;
}

.mini-rating {
	img {
		max-width: 40%;
	}
}

.benifits {
	margin-top: 20px;
	img {
		max-width: 5%;
	}
}

.review {
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 10px;
	background-color: #f1f1f1;
	h5 {
		color: #d81c25;
	}
}

.related {
	text-align: center;
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d81c25;
	.product-img {
		width: 20%;
	}
	.rating {
		width: 15%;
	}
}













#mainProduct {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
		&:hover {
			opacity: 0.7;
		}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    bottom: 50px;
    right: 15px;
    color: #f1f1f1;
    font-size: 100px;
    font-weight: bold;
    transition: 0.3s;
		&:hover, &:focus {
	    color: #bbb;
	    text-decoration: none;
	    cursor: pointer;
		}
}












@media (min-width: 370px) {}

@media (min-width: 780px) {
	body {
		text-align: left;
	}

	.product-img {
		max-width: 100%;
	}

	.modal-content {
		width: 40%;
	}

	.quantity {
		margin-top: 15px;
	}

	.benifits {
		img {
			max-width: 40%;
		}
	}

	.options {
		padding: 20px;
	}

	#logo {
		width: 20%;
	}

	.related {
		.product-img {
			width: 60%;
		}
		.rating {
			width: 40%;
		}
	}
}

@media (min-width: 1000px) {}

@media (min-width: 1200px) {}
